  
.user-card {
  margin: auto;
  padding: 10px;
  left: 0;
  right: 0;
  width: 500px;
  background-color: aquamarine;
  border-radius: 8px;
}
  
.cardItems {
  text-align: left;
}
  
.cardimage {
  float: right;
  margin-top: -80px;
  width: 70px;
}